.product-detail {
  margin-bottom: 5rem;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-bg);
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out, background 0.3s ease;
  height: 21rem;
  -webkit-transition: transform 0.2s ease-in-out, background 0.3s ease;
  -moz-transition: transform 0.2s ease-in-out, background 0.3s ease;
  -ms-transition: transform 0.2s ease-in-out, background 0.3s ease;
  -o-transition: transform 0.2s ease-in-out, background 0.3s ease;
}

.product-detail-wrapper {
  max-width: 30vw;
  margin: auto;
}
.back-button {
  background-color: transparent;
  padding: 0.6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  transform: translate(27rem, 2rem);
  -webkit-transform: translate(27rem, 2rem);
  -moz-transform: translate(27rem, 2rem);
  -ms-transform: translate(27rem, 2rem);
  -o-transform: translate(27rem, 2rem);
  z-index: 10;
}

.back-button img {
  width: 1.2rem;
  height: 1.2rem;
  filter: invert();
  -webkit-filter: invert();
}

.product-detail:hover {
  background-color: var(--hover-bg);
  transform: scale(1.02);
}

.product-detail p {
  max-width: 15rem;
}

.product-detail .product-name {
  margin-top: 1.5rem;
  font-size: 0.85rem;
}

.product-detail .product-price {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: whitesmoke;
}

.product-detail img {
  width: 7rem;
  height: auto;
  border-radius: 8px;
}

.product-detail button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
}

button:hover {
  background-color: var(--hover-bg);
}
