<nav></nav>
<h1>
  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</h1>
<account></account>
<h1>
  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</h1>
<h1>
  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</h1>
<router-outlet></router-outlet>
<h1>
  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</h1>
<product-list></product-list>
<h1>
  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</h1>
<shopping-cart></shopping-cart>
