<div class="account-container">
  <h2>Account</h2>
  <div class="button-group">
    <button
      *ngIf="!isAuthenticated"
      routerLink="/account/login"
      class="btn btn-primary"
    >
      Login
    </button>
    <button
      *ngIf="!isAuthenticated"
      routerLink="/account/register"
      class="btn btn-secondary"
    >
      Register
    </button>
    <button
      *ngIf="isAuthenticated"
      routerLink="/account/orders"
      class="btn btn-info"
    >
      Orders
    </button>
    <button
      *ngIf="isAuthenticated"
      routerLink="/account/profile"
      class="btn btn-success"
    >
      Account
    </button>
    <button *ngIf="isAuthenticated" (click)="onLogout()" class="btn btn-danger">
      Logout
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
