<div class="navbar">
  <a routerLink="/products"><img class="logo" src="assets/Pcpro.png" /></a>

  <a routerLink="/products" class="nav-button">Products</a>
  <div class="dropdown" *ngIf="isAuthenticated$ | async; else guestDropdown">
    <button class="dropdown-button">
      <img src="assets/account-circle-line.svg" alt="Account" />
    </button>
    <div class="dropdown-content">
      <a routerLink="/account/profile">Profile</a>
      <a routerLink="/account/orders">Orders</a>
      <button class="logout-button" (click)="logout()">Logout</button>
    </div>
  </div>
  <ng-template #guestDropdown>
    <div class="dropdown">
      <button class="dropdown-button">
        <img src="assets/account-circle-line.svg" alt="Account" />
      </button>
      <div class="dropdown-content">
        <a routerLink="/account/login">Login</a>
        <a routerLink="/account/register">Register</a>
      </div>
    </div>
  </ng-template>
  <a routerLink="/cart" class="nav-button"
    ><p class="cart-count">({{ itemCount$ | async }})</p>
    <img src="assets/shopping-cart-line.svg" alt="Cart" />
  </a>
</div>
