.max-w-2xl {
  max-width: 56rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.p-6 {
  padding: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.profile-avatar {
  width: 6rem;
  height: 6rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-initial {
  font-size: 3rem;
  color: #bbb;
}

.profile-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #fff;
}

.profile-content {
  background-color: #1f1f1f;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1),
    0 2px 4px -1px rgba(255, 255, 255, 0.06);
  padding: 1.5rem;
  border: 1px solid #333;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: #aaa;
}

.text {
  font-size: 1.125rem;
  color: #e0e0e0;
}
